[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"

[packages]
django = "*"
django-adminlte2 = "*"
django-chartjs = "*"
django-jquery = "*"
django-view-breadcrumbs = "*"

[requires]
python_version = "3.7"
