{% extends 'adminlte/base.html' %}
{% block content %}
{% load staticfiles %}
    <canvas id="myChart" style="height:230px"></canvas>

    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
    <script type="text/javascript">
        $.get('{% url "chart-json" %}', function(chartjson) {
            var ctx = $("#myChart").get(0).getContext("2d");
            new Chart(ctx, {
                type: 'bar',
                data: chartjson.data,
                options: chartjson.options
            });
        });
    </script>
{% endblock %}