{% extends 'adminlte/base.html' %}
{% block content %}
{% load staticfiles %}
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Bar Chart</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div class="chart">
                <canvas id="myChart" style="height:230px"></canvas>
                <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
                <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
                <script type="text/javascript">
                    $.get('{% url "chart-json" %}', function(chartjson) {
                        var ctx = $("#myChart").get(0).getContext("2d");
                        new Chart(ctx, {
                            type: 'bar',
                            data: chartjson.data,
                            options: chartjson.options
                        });
                    });
                </script>
            </div>
        </div>
    </div>

{% endblock %}