{% extends 'adminlte/base.html' %}
{% block content %}
{% load staticfiles %}
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Select dates</h3>
        </div>
        <div class="box-body">
            <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
            <form id="daterange" method="post">{% csrf_token %}
                {% block defaultdaterange %}
                <input type="text" name="daterange" value="2019-05-31 - 2019-06-01" />
                {% endblock %}
                <input type="hidden" name="start_date" required="" id="id_start_date">
                <input type="hidden" name="end_date" required="" id="id_end_date">
                <script type="text/javascript">
                    $(function() {
                        $('input[name="daterange"]').daterangepicker({
                            opens: 'left',
                            locale: {
                                format: 'YYYY-MM-DD'
                            }
                        }, function(start, end, label) {
                            document.getElementById("id_start_date").value = start.format('YYYY-MM-DD');
                            document.getElementById("id_end_date").value = end.format('YYYY-MM-DD');
                            $('#daterange').submit();
                            console.log(start.format('YYYY-MM-DD') + end.format('YYYY-MM-DD'));
                        });
                    });
                </script>
                <input type="submit" value="Refresh">
            </form>
        </div>
    </div>
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Item Sales</h3>
        </div>
        <div class="box-body">
            <div class="chart">
                <canvas id="itemChart" style="height:500px"></canvas>
                <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
                <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
                <script type="text/javascript">
                    $.get('{% url "item_sales" %}', function(data) {
                        var ctx = $("#itemChart").get(0).getContext("2d");
                        new Chart(ctx, {
                            type: 'pie',
                            data: data
                        });
                    });
                </script>
            </div>
        </div>
    </div>

{% endblock %}