{% extends 'adminlte/base.html' %}
{% block content %}
{% load staticfiles %}
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Item Sales</h3>
        </div>
        <div class="box-body">
            <form id="daterange" method="post">{% csrf_token %}
                <div class="col-sm-5">
                    <div class="form-group">
                        <select class="form-control select2" id="server_index">
                            <option selected="selected">All</option>
                            {% for item in server_list %}
                            <option>{{ item }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control pull-right" id="daterange">
                    </div>
                </div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-block btn-primary">Refresh</button>
                </div>
            </form>
            <div class="chart">
                <canvas id="itemChart" style="height:500px"></canvas>
                <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
                <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
                <script type="text/javascript">
                    $(function() {
                        $('input[id="daterange"]').daterangepicker({
                            opens: 'left',
                            locale: {
                                format: 'YYYY-MM-DD'
                            }
                        }, function(start, end, label) {
                            chart_json_query = start.format('YYYYMMDD') + '-' + end.format('YYYYMMDD') + '-' + document.getElementById("server_index").value
                            $.get('/api/item_sales/' + chart_json_query, function(data) {
                                console.log(data)
                                itemChart.data.datasets = data.datasets
                                itemChart.update()
                            });
                            itemChart.update()
                        });
                    });
                    $.get('{% url "item_sales" %}', function(data) {
                        itemChart = new Chart(document.getElementById("itemChart"), {
                            type: 'pie',
                            data: data,
                        });
                    });
                </script>
            </div>
        </div>
    </div>

{% endblock %}